#´.gitignore for Bin2Text
#exclude general
*.*

#include general
#dbx data
!*.dbf
!*.cdx
!*.fpt

!*.dbc
!*.dc[tx]

#grafics
!*.bmp
!*.msk
!*.ico
!*.cdr
!*.cur

#programms
!/*.prg
!*.fpwa

#header
!*.h

#libs (by FoxBin2prg)
#!*.vc[xt]
#!*.pj[xt]
#!*.fr[xt]
#!*.mn[xt]
#!*.sc[xt]
#!*.lb[xt]

#FoxBin2prg
!*.vc2
!*.pj2
!*.fr2
!*.mn2
!*.sc2
!*.lb2
#!*.d[bc]2

#include special
#default git
!*.gitignore
!*.gitattributes
!/desktop.ini

#diverse
!*.reg
!/FoxBin2prg.cfg

#exclude special
foxuser_9.*
_command.prg
*ref.*
debug*.*
Sicherungskopie*.*
include/projsub.h

#exclude github
!*.md
!/content/**/*.gif
!/content/**/*.png
!/content/**/*.jpg

#ThorUpdater
!/ThorUpdater/*.prg
!/ThorUpdater/*.zip
!/ThorUpdater/*.txt
!/ThorUpdater/*.ps1

#nix von hier
default/
temp/
tmp/
/*.dbf
/*.cdx
/*.fpt

!*.dbc
!*.dc[tx]

/IDE_Bin2Text.prg
Bin2Txt.*
bin2txt.*

#Doku
!/.github/
!/docs/**/*.*
/docs/**/*.bak
!Doku/*.pdm*
!Doku/Source/*.gif
!Doku/Source/*.png
!Doku/Source/*.htm
!Doku/Source/*.html
/Doku/**/*.**.bak

#reinclude
!docs/classes/bin_2_text.vcx/*.*.htm*
