/*
menu.css: Základní tøídy CSS pro menu
Autor:    Martin Jindra, martin.jindra@egservis.cz
Datum:    2003-03-21
Verze:    0.2
*/


/* základní tøída menu */
.menu {border-width:1px; border-style: outset;
       margin: 0px 0px 0px 0px; padding: 2px 0px 2px 0px;
       width: 100%;
      }


/* základní tøída padu */
div.menuPad {border-width:1px; border-style:none;
             margin: 0px 0px 0px 0px; padding: 0px 5px 0px 5px;
             cursor: default;
             display: inline;
             vertical-align: middle;
             position: relative;
            }


/* základní tøída textu padu */
span.menuPad {border-width:0px;
              margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
              vertical-align: middle;
             }


/* základní tøída popupu */
.menuPopup {border-width:1px; border-style:outset;
            margin: 0px 0px 0px 0px; padding: 0px 1px 0px 1px;
            position: absolute; visibility: hidden;
           }

/* základní tøída oddìlovaèe baru */
div.menuSep {border-width:0px; 
             margin: 0px 0px 0px 0px; padding: 1px 4px 1px 4px;
             cursor: default;
             vertical-align: middle;
             line-height: 3px;
             background-image: url("separ.gif");
            }



/* základní tøída baru */
div.menuBar {border-width:0px;
             margin: 0px 0px 0px 0px; padding: 1px 4px 1px 4px;
             cursor: default;
             vertical-align: middle;
            }


/* základní tøída textu baru */
span.menuBar {border-width:0px;
              margin: 0px 0px 0px 0px; padding: 0px 2px 0px 2px;
              vertical-align: middle;
             }

/* základní tøída hotkey baru */
span.HotKey {text-decoration:underline;
             vertical-align: baseline;
            }


/* základní tøída ikony baru/padu */
.imgIcon {border-width:0px; border-style:none ;
          margin: 0px 0px 0px 0px; padding: 0px 0px 0px 3px;
          width: 16px; height: 16px;
          vertical-align: middle;
         }


/* základní tøída ikony v baru indikující expand dalšího popupu */
.imgPopup {border-width:0px;
           margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
           vertical-align: middle;
           width: 10px; height: 10px;
           position: relative;
          }


/* základní tøída kony v baru indikující oznaèený bar */
.imgMark {border-width:0px;
          margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
          vertical-align: middle;
          width: 10px; height: 10px;
         }


/* základní tøída ikony aktivního baru/padu */
.imgHL {border-width:0px;
        margin: 0px 0px 0px 0px; padding: 0px 3px 0px 0px;
        width: 10px; height: 10px;
        vertical-align: middle;
       }
